.hamburger {
  color: #000;
}

.dialog {
  z-index: 99;
  color: #fff;
  display: flex;
  position: fixed;
  background: #000;
  align-items: center;
  justify-content: center;
  inset: var(--header-height) 0 0 0;
  top: 100px;
}

.list {
  list-style: none;
  text-align: center;
  width: 100vw;
  height: calc(100vh - 100px);
  padding: 100px 15px 30px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow-y: auto;
}
.navigationContainer {
  overflow-y: auto;
  max-height: 100%;
}

.listItem:not(:last-child) {
  margin-bottom: var(--space-token-large);
}

.link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: left;
}

.linkActive {
  color: var(--color-success);
  font-weight: 500;
}

.listItemDisabled {
  opacity: 0.6;
  text-transform: uppercase;
}

.sideBarImage {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 2px solid #bc4d4d;
  object-fit: cover;
}
