.container {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.link {
    color: #000;
}
.activeLink {
    border-bottom: 2px solid #bc4d4d;
}
.listItem {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}
.dropdown {
    position: absolute;
    top: 30px;
    background: #f2f7f6;
    width: max-content;
    padding: 20px;
    border-radius: 4px;
}
.arrowUp {
    transform: rotate(180deg);
}
