.container {
    display: flex;
    flex-direction: column;
    padding: 0 0 50px;
}
.logoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    z-index: 222;
    box-shadow: 0px 10px 20px -5px rgba(29, 30, 34, 0.75);
    padding: 0 20px;
    gap: 15px;
}

.img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    max-height: 250px;
}
.contentContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 30px 50px 50px;
    justify-items: center;
    grid-gap: 40px 10px;
}
.productSectionHeader {
    text-align: center;
    font-family: "RedHat";
    font-size: 45px;
    color: #bc4d4d;
    padding-top: 80px;
}
.productBlock {
    width: 100%;
}
.heroImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.logo {
    max-width: 150px;
    width: 100%;
    min-width: 90px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
}
.productCard {
    box-shadow: 0px 10px 20px -5px rgba(29, 30, 34, 0.75);
    border-radius: 7px;
    max-width: 300px;
    width: 100%;
    position: relative;
    height: 100%;
    min-height: 395px;
}
.productName {
    font-size: 22px;
    text-align: center;
    word-break: break-word;
}
.productInfo {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 2px solid #bc4d4d;
}
.fieldName {
    font-weight: 700;
}
.fieldInfoWrapper {
    font-family: "RedHat";
    font-size: 16px;
}

.package {
    background-color: #bc4d4d;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: fit-content;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 20px 40px;
    background: #f2f7f6;
    color: #a2a4aa;
    box-shadow: 2px -2px 15px -5px rgba(29, 30, 34, 0.55);

    width: 100%;
    z-index: 222;
}
.footerInfo {
    display: flex;
    gap: 20px;
}
.cartNavWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.searchInput {
    max-width: 200px;
    width: 50px;
    padding: 5px 5px 5px 25px;
}
input.searchInput {
    border: none;
    background-color: #f8f8f8;
    outline: none;
    background: transparent
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat center left 1px;
    cursor: pointer;
    opacity: 0.7;
}
input.searchInput::placeholder {
    font-size: 12px;
}
input.searchInput:focus {
    max-width: 150px;
    width: 100%;
    border-bottom: 1px solid black;
}
input.searchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    margin-left: 0.4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}

.input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
        no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

.input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: 0.3;
    pointer-events: all;
}
.searchContainer {
    display: flex;
    align-items: center;
}
.storeButtonMobile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
    height: 60px;
    justify-content: center;
    position: sticky;
    top: 100px;
    background-color: #f8f8f8;
    z-index: 22;
}
.storeButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    transition: all 0.2s;
}

.storeButton:hover {
    background: #f5f5f5;
}

.storeIcon {
    font-size: 1.25rem;
    color: #666;
}

@media only screen and (max-width: 1340px) {
    .contentContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .productName {
        font-size: 16px;
    }
    .fieldInfoWrapper {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1000px) {
    .logoWrapper {
        overflow: hidden;
    }
}

@media only screen and (max-width: 740px) {
    .contentContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 40px 20px;
        padding: 30px 15px 50px;
    }
    .productSectionHeader {
        padding-top: 45px;
    }
    .img {
        max-height: 125px;
    }
    .productName {
        font-size: 16px;
    }
    .fieldInfoWrapper {
        font-size: 14px;
    }
    .productInfo {
        height: 55%;
    }
    .productCard {
        min-height: auto;
    }
}
@media only screen and (max-width: 720px) {
    .logo {
        max-width: 150px;
        width: 100%;
        min-width: 90px;
        position: relative;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 600px) {
    .heroImage {
        height: 180px;
    }
    .logoWrapper {
        padding: 0 0 0 10px;
        gap: 10px;
    }
    input.searchInput:focus {
        max-width: 145px;
        width: 100%;
        border-bottom: 1px solid black;
    }
}

@media only screen and (max-width: 485px) {
    .footerInfo {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .separator {
        display: none;
    }
    .footer {
        padding: 20px;
    }
    .contentContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 40px 20px;
    }
    .cartNavWrapper {
        gap: 10px;
    }
}
@media only screen and (max-width: 380px) {
    .productCard {
        max-width: 100%;
        width: 100%;
    }
}
