.container {
  display: flex;
  flex-direction: column;
  padding: 0 0 50px;
}
.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f8f8f8;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 222;
  box-shadow: 0px 10px 20px -5px rgba(29, 30, 34, 0.75);
}

.img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  max-height: 250px;
  cursor: pointer;
}
.contentContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 30px 50px 50px;
  justify-items: center;
  grid-gap: 40px 10px;
}
.productSectionHeader {
  text-align: center;
  font-family: "RedHat";
  font-size: 45px;
  color: #000;
  padding-top: 80px;
  opacity: 0.7;
}
.productBlock {
  width: 100%;
}
.heroImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.logo {
  width: 150px;
}
.productCard {
  box-shadow: 0px 10px 20px -5px rgba(29, 30, 34, 0.75);
  border-radius: 7px;
  max-width: 300px;
  width: 100%;
  position: relative;
  height: 100%;
  min-height: 395px;
  display: flex;
  flex-direction: column;
}
.productName {
  font-size: 22px;
  text-align: center;
  word-break: break-word;
}
.productInfo {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 2px solid #bc4d4d;
  height: 100%;
  justify-content: space-between;
}
.fieldName {
  font-weight: 700;
}
.fieldInfoWrapper {
  font-family: "RedHat";
  font-size: 16px;
}

.package {
  background-color: #bc4d4d;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: fit-content;
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 14px;
}

.sidePaginationContainer {
  position: fixed;
  right: 15px;
  top: calc(-40px + 50vh);
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 9999;
}

.sideBarImage {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 2px solid #bc4d4d;
  object-fit: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 20px 40px;
  background: #f2f7f6;
  color: #a2a4aa;
  box-shadow: 2px -2px 15px -5px rgba(29, 30, 34, 0.55);
}
.footerInfo {
  display: flex;
  gap: 20px;
}
.quantityWrapper {
  display: flex;
  width: 100%;
  align-items: center;
}
input.input {
  margin-bottom: 0;
  border: none;
  display: block;
  color: #010712;
  font-weight: 500;
  padding: 5px 0;
  outline: none;
  width: 100%;
  max-width: 25px;
  text-align: center;
}
button.quantityBtn {
  background-color: #bc4d4d;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  outline: none;
  max-width: 25px;
  height: 25px;
}
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.quantityContainer {
  display: flex;
  align-items: center;
}
.cartIcon {
  font-size: 25px;
  color: black;
  margin-right: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 1340px) {
  .contentContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .productName {
    font-size: 16px;
  }
  .fieldInfoWrapper {
    font-size: 14px;
  }
}

@media only screen and (max-width: 840px) {
  .contentContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 40px 20px;
    padding: 30px 15px 50px;
  }
  .productSectionHeader {
    padding-top: 45px;
  }
  .img {
    max-height: 125px;
  }
  .productName {
    font-size: 14px;
  }
  .fieldInfoWrapper {
    font-size: 13px;
  }

  .productCard {
    min-height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .heroImage {
    height: 180px;
  }
}

@media only screen and (max-width: 520px) {
  .footerInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .separator {
    display: none;
  }
  .footer {
    padding: 20px;
  }
  .contentContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 30px 10px;
  }
  .package {
    font-size: 13px;
    padding: 2px 8px;
  }
  .productSectionHeader {
    font-size: 35px;
  }
}
@media only screen and (max-width: 380px) {
  .productCard {
    max-width: 100%;
    width: 100%;
  }
}
