.pageWrapper {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
}
.map {
  width: 50vw;
  height: 700px;
}
div.containerClassName {
  justify-content: flex-start;
}
div.wrapperClassName {
  text-align: left;
  align-items: flex-start;
}
.headingClassName {
  padding-left: 0;
}
@media only screen and (max-width: 920px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .map {
    width: 100%;
    height: 350px;
  }
}
